<div>
  <% movies.each do |movie| %>
    <%= render movie %>
    <p class="container">
      <%= link_to "Show this movie", movie %>
      <%= link_to "Show lists", lists_path %>
    </p>
  <% end %>
</div>
